@import 'variables';
@import 'text';

.auth__form {
    display: grid;

    width: 288px;
    padding: 16px 0;
    gap: 16px;

    background: $color-box;
    border-radius: 2px;

    &-title {
        @extend %description;
        text-align: center;
    }

    &>*:not(hr) {
        margin: 0 8px;
    }

    &-field {
        padding: 5px 16px;

        outline: none;
        background: none;
        border: 1px solid $color-main;
        border-radius: 2px;
        font-size: 14px;

        &[data-touched=true]:invalid {
            border-color: rgb(255, 32, 32);
        }

        &:focus {
            border-color: $special-color-btn;

            &[data-touched=true] {
                border-color: $special-color-btn;

            }
        }
    }

    &-errors {
        border: 1px solid rgb(255, 32, 32);
        border-radius: 2px;
        background: rgba(255, 32, 32, 0.1);
        padding: 8px;
        font-size: 0.75em;

        &:empty {
            display: none;
        }
    }

    &-divider {
        width: 100%;

        outline: none;
        border: none;
        border-top: 1px solid $color-main
    }

    &-button {
        &-alt {
            background-color: $special-color-btn  !important;
            color: #fff;
        }
    }

    @media (max-width: 1279px) {
        margin: 0 auto;
    }
}

.auth__view {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 30px;

    &-title {
        @extend %heading;
    }

    &-description {
        @extend %description;
    }

    @media (min-width: 1600px) {
        max-width: 90%;
        padding: 40px 0;

        margin: 0 auto;
    }

    @media (max-width: 1279px) {
        flex-direction: column;
        padding: 40px 0;

        margin: 0 20px;
        gap: 40px;
    }

    @media (max-width: 767px) {
        padding: 8px 0;
        margin: 0 10px;
        gap: 16px;
    }
}