.book-page {
  width: 100%;
  padding: 0 0 30px 0;

  .group-selector {
    width: 100%;
    padding: 0 0 0 30px;

    .selector-list {
      display: flex;
      overflow-x: auto;

      .selector-list__group-btn {
        padding: 4px 8px 8px 8px;
        border: none;
        border-bottom: 1px solid $color-main;
        background-color: inherit;
        color: $color-dark;
        font-size: 16px;
        line-height: 19.5px;
        white-space: nowrap;
        transition: 0.2s;
      }

      .selector-list__group-btn:hover {
        border-bottom: 1px solid $color-dark;
      }

      .selector-list__group-btn.active {
        border-bottom: 1px solid $special-color-btn;
      }

      .selector-list__group-btn.active:hover {
        border-bottom: 1px solid $special-color-btn;
      }

      .selector-list__group-btn.studied {
        color: $special-color-btn;
      }

      .selector-list__group7 {
        display: none;
      }

      .selector-list__group7.show {
        display: block;
      }
    }

    .scroll-btn {
      width: 30px;
      height: 30px;
      border: none;
      background-color: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 0.2s;
    }

    .scroll-btn:hover {
      cursor: pointer;
    }

    .scroll-btn.not-active {
      filter: invert(100%) sepia(0%) saturate(1194%) hue-rotate(24deg) brightness(113%)
        contrast(80%);
    }

    .book-page__up-btn {
      position: fixed;
      top: calc(50vh - 30px);
      left: 16px;
      z-index: 1;
      background-image: url(./assets/svg/arrow-up.svg);
    }

    .book-page__down-btn {
      position: fixed;
      bottom: calc(50vh - 30px);
      left: 16px;
      z-index: 1;
      background-image: url(./assets/svg/arrow-down.svg);
    }
  }

  .book-page__wrap-card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 48px 0 0 70px;
    background-size: auto 350px;
    background-repeat: no-repeat;
    background-position: center right 50px;
    background-attachment: fixed;

    .book__card {
      display: flex;
      width: 800px;
      border-radius: 4px;
      background-color: $color-box;

      .book__image {
        flex-shrink: 0;
        width: 390px;
        height: 260px;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .book__wrap-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 16px 16px 8px 16px;

        .book__wrap-answer {
          display: none;
          position: absolute;
          top: 3px;
          right: 8px;
          font-size: 10px;
          line-height: 12.19px;

          .book__answer__wrap-values {
            display: flex;
            justify-content: space-between;

            .book__answer__right-value {
              color: $color-green;
            }

            .book__answer__wrong-value {
              color: $color-red;
            }
          }

          .book__answer__line {
            position: relative;
            width: 60px;
            height: 2px;
            border-radius: 2px;
            background-color: $color-red;
          }

          .book__answer__line__percent {
            position: absolute;
            width: 50%;
            height: 2px;
            border-radius: 2px;
            background-color: $color-green;
          }
        }

        .book__wrap-answer.active {
          display: block;
        }

        .book__wrap-text {
          display: flex;
          flex-direction: column;
          row-gap: 12px;
          background-size: 0;

          .book__word {
            color: $color-dark;
            font-size: 20px;
            line-height: 24.38px;
          }

          .book__word__example-first {
            font-size: 14px;
            line-height: 17.07px;
          }

          .book__word__example-second {
            font-size: 14px;
            line-height: 17.07px;
          }
        }

        .book__wrap-btn {
          display: flex;
          justify-content: center;
          column-gap: 16px;

          .book__btn {
            display: flex;
            align-items: center;
            column-gap: 8px;
            height: 32px;
            box-shadow: none;
          }

          .book__btn__img {
            display: block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .book__btn__text {
            color: $color-dark;
            font-size: 12px;
            line-height: 14.63px;
          }

          .book__btn-audio {
            .book__btn-audio__img {
              background-image: url(./assets/svg/sound.svg);
            }
          }

          .book__btn-audio.active .book__btn-audio__img {
            filter: invert(46%) sepia(99%) saturate(2856%) hue-rotate(191deg) brightness(101%)
              contrast(101%);
          }

          .book__btn-explore {
            display: none;

            .book__btn-explore__img {
              background-image: url(./assets/svg/check.svg);
            }
          }

          .book__btn-explore.show {
            display: flex;
          }

          .book__btn-explore.active {
            background-color: $color-green;
          }

          .book__btn-difficult {
            display: none;

            .book__btn-difficult__img {
              background-image: url(./assets/svg/team-word.svg);
            }
          }

          .book__btn-difficult.show {
            display: flex;
          }

          .book__btn-difficult.active {
            background-color: $color-yellow;
          }
        }

        .book__wrap-btn.show {
          justify-content: flex-start;
        }
      }
    }

    .book__card.studied .book__btn-explore__img {
      filter: invert(46%) sepia(99%) saturate(2856%) hue-rotate(191deg) brightness(101%)
        contrast(101%);
    }

    .book__card.studied .book__btn-difficult__img {
      filter: invert(46%) sepia(99%) saturate(2856%) hue-rotate(191deg) brightness(101%)
        contrast(101%);
    }
  }

  .book__wrap-controls {
    display: flex;
    align-items: center;
    column-gap: 30px;

    .book-pagination__wrap {
      display: block;
      max-width: 148px;
      margin: 24px 0 0 70px;

      .book-pagination__list {
        display: flex;
        align-items: center;
        column-gap: 10px;

        .pagination-btn {
          width: 14px;
          height: 14px;
          padding: 4px;
          border: none;
          background-color: inherit;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .pagination-btn.not-active {
          filter: invert(99%) sepia(1%) saturate(317%) hue-rotate(245deg) brightness(118%)
            contrast(80%);
        }

        .pagination-btn.not-active:hover {
          cursor: default;
        }

        .book-pagination__start-btn {
          background-image: url(./assets/svg/dbl-prev-btn.svg);
        }

        .book-pagination__prev-btn {
          background-image: url(./assets/svg/prev-btn.svg);
        }

        .book-pagination__number-page {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          border: 1px solid $color-dark;
          border-radius: 2px;
          color: $color-dark;
          font-size: 14px;
          font-weight: 700;
          line-height: 17.07px;
        }

        .book-pagination__number-page.active {
          color: $special-color-btn;
          border-color: $special-color-btn;
        }

        .book-pagination__next-btn {
          background-image: url(./assets/svg/next-btn.svg);
        }

        .book-pagination__finish-btn {
          background-image: url(./assets/svg/dbl-next-btn.svg);
        }
      }
    }

    .book-btn__wrap {
      display: flex;
      column-gap: 8px;
      margin: 24px 0 0 0;
    }

    .book-btn__wrap.not-active {
      display: none;
    }
  }

  .book__wrap-controls.not-active {
    display: none;
  }
}

@media (max-width: 1340px) {
  .book-page {
    .book-page__wrap-card {
      background-size: auto 300px;
      background-position: center right 26px;
    }
  }
}

@media (max-width: 1100px) {
  .book-page {
    .book-page__wrap-card {
      background-size: auto 200px;
    }
  }
}

@media (max-width: 979px) {
  .book-page {
    .group-selector {
      padding: 0 0 0 20px;

      .book-page__up-btn {
        left: 2px;
      }

      .book-page__down-btn {
        left: 2px;
      }
    }

    .book-page__wrap-card {
      row-gap: 16px;
      padding: 24px 0 0 36px;

      .book__card {
        width: 696px;

        .book__image {
          width: 302px;
          height: 202px;
          background-size: cover;
        }

        .book__wrap-content {
          padding: 8px 8px 8px 8px;

          .book__wrap-text {
            row-gap: 8px;

            .book__word {
              margin: 10px 0 0 0;
              font-size: 18px;
              line-height: 21.94px;
            }

            .book__word__example-first {
              font-size: 12px;
              line-height: 14.63px;
            }

            .book__word__example-second {
              font-size: 12px;
              line-height: 14.63px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .book-page {
    .book-page__wrap-card {
      background-size: 0;

      .book__card {
        .book__wrap-content {
          .book__wrap-text {
            background-repeat: no-repeat;
            background-size: auto 80px;
            background-position: top 28px center;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .book-page {
    width: 100%;

    .group-selector {
      padding: 0 0 0 10px;

      .book-page__up-btn {
        top: 10px;
        left: calc(50% - 15px);
      }

      .book-page__down-btn {
        bottom: 10px;
        left: calc(50% - 15px);
      }

      .scroll-btn.not-active {
        display: none;
      }
    }

    .book-page__wrap-card {
      flex-direction: column;
      align-items: center;
      row-gap: 16px;
      padding: 16px 16px 0 16px;

      .book__card {
        flex-direction: column;
        width: 288px;

        .book__image {
          width: 288px;
          height: 193px;
        }

        .book__wrap-content {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          padding: 8px 8px 8px 8px;

          .book__wrap-text {
            background-repeat: no-repeat;
            background-size: auto 80px;
            background-position: center center;

            .book__word {
              margin: 10px 0 0 0;
              font-size: 18px;
              line-height: 21.94px;
            }

            .book__word__example-first {
              font-size: 12px;
              line-height: 14.63px;
            }

            .book__word__example-second {
              font-size: 12px;
              line-height: 14.63px;
            }
          }

          .book__wrap-btn {
            column-gap: 8px;

            .book__btn {
              column-gap: 8px;
              height: 28px;
            }

            .book__btn__img {
              width: 20px;
              height: 20px;
            }

            .book__btn__text {
              font-size: 10px;
              line-height: 12.19px;
            }

            .book__btn-explore {
              margin: 0 0 0 80px;
              .book__btn-explore__text {
                display: none;
              }
            }

            .book__btn-difficult {
              .book__btn-difficult__text {
                display: none;
              }
            }
          }
        }
      }
    }

    .book__wrap-controls {
      flex-direction: column;
      column-gap: 0;

      .book-pagination__wrap {
        width: 100%;
        margin: 24px auto 24px auto;
        padding: 0;

        .book-pagination__list {
          display: flex;
          align-items: center;
          column-gap: 14px;

          .pagination-btn {
            width: 14px;
            height: 14px;
            padding: 4px;
            border: none;
            background-color: inherit;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .book-pagination__start-btn {
            background-image: url(./assets/svg/dbl-prev-btn.svg);
          }

          .book-pagination__prev-btn {
            background-image: url(./assets/svg/prev-btn.svg);
          }

          .book-pagination__number-page {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border: 1px solid $color-dark;
            border-radius: 2px;
            color: $color-dark;
            font-size: 14px;
            line-height: 17.07px;
          }

          .book-pagination__next-btn {
            background-image: url(./assets/svg/next-btn.svg);
          }

          .book-pagination__finish-btn {
            background-image: url(./assets/svg/dbl-next-btn.svg);
          }
        }
      }

      .book-btn__wrap {
        display: flex;
        column-gap: 16px;
        margin: 0;
      }
    }
  }
}