@import 'text';

.sprint {
  &__title {
    @extend %description;
    &-center {
      text-align: center;
      margin-bottom: 16px;
    }
    &-control {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  &-score-header {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  &__buttons {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 16px;
    margin-top: 65px;
    margin-bottom: 48px;
  }
  &__score {
    margin-bottom: 0px;
    &-per-word-container {
      text-align: center;
      margin-bottom: 8px;
    }
  }
  &__description {
    @extend %card-text;
    &-buttons {
      margin-top: 12px;

      display: flex;
      align-items: center;
    }
  }
  &__button {
    border: 1px solid black;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 26px;
    height: 26px;
    margin-right: 8px;
  }
  &__btn {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #ffffff;
    border-radius: 2px;
    border: 0;

    width: 128px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-wrong {
      background: #ff0909;
    }
    &-right {
      background: #00b955;
    }
  }
  &__container {
    max-width: 600px;
    width: 100%;

    padding: 16px;
    margin: 32px 16px;
    position: relative;

    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
  &__underline {
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    position: absolute;
    left: 0;
  }
  &__cente-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 51px - 48px);
  }
  &__start {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    background: #1890ff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 0;
    margin: 0 auto;
    margin-top: 56px;
  }
  &__difficulty,
  &__difficulty option {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  &__difficulty {
    margin-top: 16px;
    appearance: none;
    border: 1px solid #e5e5e5;
    padding: 5px 16px;
    border-radius: 2px;
    font-family: 'Montserrat-regular';
    width: 100%;
  }
}

.word-en {
  margin-top: 115px;
}

.word-en,
.word-ru {
  font-family: 'Montserrat-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
}

$background: #f5f5f5;

.radial-timer {
  // CONFIG
  $duration: 60s;
  $color: #1890ff;

  overflow: hidden;
  height: 48px;
  width: 48px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;

  .radial-timer-half {
    height: 48px;
    width: calc(48px / 2);
    border-radius: calc(48px / 2) 0 0 calc(48px / 2);
    background: $color;
    position: absolute;
    &:nth-of-type(2) {
      z-index: 99;
      transform-origin: center right;
      transform: rotate(180deg);
    }

    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 9px;
      height: 48px - 2 * 9px;
      width: calc((48px - 2 * 9px) / 2);
      border-radius: calc((48px - 9px) / 2) 0 0 calc((48px - 9px) / 2);
      background: $background;
    }
    &:after {
      content: '';
      position: absolute;
      background: $background;
      height: 48px * 2;
      width: 48px * 1.5;
      left: -48px;
      top: calc(-48px / 2);
      transform-origin: center right;
    }
  }

  &.s-animate {
    transform-origin: center right;
    .radial-timer-half:nth-of-type(1):after {
      animation: rotateLeftMask $duration linear;
    }
    .radial-timer-half:nth-of-type(2):after {
      animation: rotateRightMask $duration linear;
    }
  }
}

// Animations

@keyframes rotateLeftMask {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotateRightMask {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    visibility: hidden;
  }
  100% {
    transform: rotate(180deg);
    visibility: hidden;
  }
}
